@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: var(--primary-color);
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px #CCC;
}

main{
    flex-grow:  1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 20px;
    box-shadow: 2px 2px 10px #CCC;
    gap: 20px;
}

.menu-horizontal {
    background-color: #58af9b;
}

.menu-horizontal ul{
    max-width: 80%;
    list-style: none;
    padding: 0;
    background-color: #58af9b;
}

.menu-horizontal ul li {
    display: inline;
}

.menu-horizontal ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.menu-horizontal ul li a:hover {
    transition: 0.5s;
    background-color: #004e27;
    color: white;
    opacity: 90%;
}

.rodape {
    padding: 20px;
    margin: 0px auto;
    background: DarkSlateBlue;
    color: floralwhite;
    text-align: center;
}