.button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

.btn-cadastro {
    background-color: #58af9b;
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-editar {
    background-color: #1fff3d;
    border-radius: 15px;
    text-transform: uppercase;
    color: black;
    font-size: 10px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-excluir {
    background-color: #ff1f1f;
    border-radius: 15px;
    text-transform: uppercase;
    color: black;
    font-size: 10px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    width: 100px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn:hover{ 
    box-shadow: insert 200px 00 #00000055;
}