@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #58af9b;
    border-radius: 15px;
    width: 900px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.column {
    padding-top: 100px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    align-items: center;
    color: #fff;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: black;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    background-color: #fff;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn:hover {
    background-color: #58af9b;
    border: 1px solid #fff;
    color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}
.menu-horizontal {
    background-color: #58af9b;
}

.menu-horizontal ul{
    max-width: 80%;
    list-style: none;
    padding: 0;
    background-color: #58af9b;
}

.menu-horizontal ul li {
    display: inline;
}

.menu-horizontal ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.menu-horizontal ul li a:hover {
    transition: 0.5s;
    background-color: #004e27;
    color: white;
    opacity: 90%;
}

.rodape {
    padding: 20px;
    margin: 0px auto;
    background: DarkSlateBlue;
    color: floralwhite;
    text-align: center;
}