@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.resumo {
    padding: 120px;
    margin: 100px auto;
    background: white(117, 117, 117, 0.637);
    color: black;
    text-align: center;
}

.info {
    padding: 70px;
    background: #58af9b;
    color: white;
    text-align: center;
}

.empresas {
    background-color: #e4e4e4
}

.empresas ul{
    max-width: 55%;
    list-style: none;
    padding: 0;
}

.empresas ul li {
    display: inline;
}

.empresas ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.empresas img{
    vertical-align: middle;
    opacity: 50%;
}

.empresas img:hover {
    transition: 0.5s;
    opacity: 100%;
}

.menu-horizontal {
    background-color: #58af9b;
}

.menu-horizontal ul{
    max-width: 80%;
    list-style: none;
    padding: 0;
    background-color: #58af9b;
}

.menu-horizontal ul li {
    display: inline;
}

.menu-horizontal ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.menu-horizontal ul li a:hover {
    transition: 0.5s;
    background-color: #004e27;
    color: white;
    opacity: 90%;
}

.rodape {
    padding: 20px;
    margin: 0px auto;
    background: DarkSlateBlue;
    color: floralwhite;
    text-align: center;
}